@import url('../styles.css');
.card {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
    border: none;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

.card * {
    margin: 1rem 2rem 0.1rem;
    text-align: left;
}

.card-title {
    font-weight: bold;
    color: var(--card-title-color);
}

.expense-amount-container, .expense-percentage-change-container {
    margin-top: 0;
    padding: 0;
    text-transform: uppercase;
}

.expense-amount, .expense-frequency, .expense-percentage-change {
    display: inline;
    margin: 0;
}

.expense-amount {
    font-size: 3rem;
}

.expense-frequency {
    font-size: 0.8rem;
    margin-left: 1rem;
    color: gray;
}

.expense-percentage-change-container {
    padding-bottom: 1rem;
}

.positive {
    color: green;
}

.negative {
    color: red;
}