@import url('../styles.css');

.header {
    padding: 1rem;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header-logo {
    color: var(--primary-text-color);
    font-weight: bold;
    margin: 0 3rem;
    width: 100%;
}