@import url('../styles.css');
.card {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
    border: none;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    padding-bottom: 1rem;
    position: relative;
}

.card * {
    margin: 1rem 2rem 0.1rem;
    text-align: left;
}

.card:hover > .card-utility-bar {
    display: block;
}

.card-utility-bar {
    position: absolute;
    margin: 0;
    width: 100%;
    padding: 0.5rem 0.5rem;
    display: none;
}

.card-utility-bar * {
    float: right;
    width: 1.5rem;
    cursor: pointer;
    margin: 0.5rem;
    background-color: var(--primary-background-color);
}

.card-title {
    font-weight: bold;
    color: var(--secondary-text-color);
}

.primary-information-container, 
.secondary-information-container {
    margin-top: 0;
    padding: 0;
    font-weight: bold;
}

.primary-information-container *, .secondary-information-container * {
    display: inline;
    margin: 0;
}

.primary-information-value {
    font-size: 3rem;
}

.supplementary-text {
    color: var(--secondary-text-color);
    font-weight: normal;
}

.positive {
    color: var(--increase-text-color);
}

.negative {
    color: var(--decrease-text-color);
}

@media only screen and (max-width: 600px) {
    .card-utility-bar {
        display: block;
    }
}