@import url('../styles.css');
.utility-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-title {
    color: var(--primary-text-color);
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
}

.button-group {
    
}