@import url('../styles.css');
.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--primary-background-color);
    color: var(--secondary-text-color);
    width: 0%;
    transition: 0.3s;
    z-index: 10;
}

.sidebar-header {
    background-color: var(--primary-color-dark);
    padding: 1rem 2rem;
    font-weight: bold;
    cursor: pointer;
    text-align: start;
}

.sidebar-menu {
    text-align: left;
    padding-top: 1rem;
    transition: 0.1s;
}

.sidebar-option {
    padding: 0.5rem 2rem;
    color: var(--secondary-text-color);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}