:root {
    /* Background */
    --primary-background-color: #2f2b3f;
    --primary-background-color-light: #373249;
    --primary-background-color-dark: #221f2e;

    /* Banner */
    --primary-banner-color: #6b45f3;
    --secondary-banner-color: #e577ce;

    /* Text */
    --primary-text-color: #fff;
    --secondary-text-color: #524e62;    

    /* Sidebar */

    /* Components (charts, buttons, etc.) */
    --primary-component-color: #7962f2;
    --primary-component-hover-color: #715bdf;
    --secondary-component-color: #2fb7e9;
    --secondary-component-hover-color: #299ec9;
    --tertiary-component-color: #ed98d0;
    --tertiary-component-hover-color: #bb78a5;

    /* Cards */
    --increase-text-color: #42ac3e;
    --decrease-text-color: #f83d3d;
}