:root {
    /* Background */
    --primary-background-color: #2f2b3f;
    --primary-background-color-dark: #221f2e;
    --primary-text-color: #fff;
    --secondary-text-color: #524e62;

    /* Sidebar */

    /* Buttons */
    --add-button-color: #7962f2;
    --add-button-hover-color: #715bdf;

    /* Cards */
    --increase-text-color: #42ac3e;
    --decrease-text-color: #f83d3d;
}